gemma-2b-it-sum-ko/config.json
gemma-2b-it-sum-ko/generation_config.json
gemma-2b-it-sum-ko/model-00001-of-00002.safetensors
gemma-2b-it-sum-ko/model-00002-of-00002.safetensors
gemma-2b-it-sum-ko/model.safetensors.index.json
